
body {
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

.top-bar {
    margin-top: 10px;
    display: flex;
    height: 50px;
}

.my-name {
    align-items: end;
    display: flex;
    font-size: 32px;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 15px;
    min-width: 300px;
    width: 80%;
}

.menu-bar {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
}

.main-menu, .center-name, .search-bar {
    align-items: flex-end;
    display: flex;
    flex: 1;
    justify-content: center;
    min-width: 120px; 
    width: 123px;
}

hr {
    background-color: rgb(51, 51, 51);
    border: 0;
    height: 1px;
    margin-left: 15px;
    margin-right: 15px;
}

button {
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 25px;
    transition: background-color 0.15s;
    width: 100px;
}

button:hover {
    cursor: pointer;
    text-decoration: underline;
}

button:active {
    opacity: 0.8;
}

.home-page-content {
    margin-left: 15px;
    margin-right: 15px;
}