
body {
    background-color: rgb(18, 18, 18);
    color: white;
    font-family: 'Raleway', sans-serif;
    height: 1000px;
    margin: 0px;
}

.top-bar {
    background-color: rgba(18, 18, 18, 0.97);
    display: flex;
    height: 55px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
}

.my-name {
    align-items: end;
    display: flex;
    font-size: 32px;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 15px;
    min-width: 300px;
    width: 80%;
}

.my-name-link, .my-name-link:visited, .my-name-link:hover, .my-name-link:active{
    color: white;
    text-decoration: none;

}

.menu-bar {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
}

.main-menu, .center-name, .search-bar {
    align-items: flex-end;
    display: flex;
    flex: 1;
    justify-content: center;
    min-width: 120px; 
    width: 123px;
}

button {
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    height: 25px;
    transition: background-color 0.15s;
    width: 100px;
}

button:hover {
    cursor: pointer;
    text-decoration: underline;
}

button:active {
    opacity: 0.8;
}

hr {
    background-color: rgb(51, 51, 51);
    border: 0;
    height: 1px;
    position: fixed;
    margin-top: 0px;
    top: 55px;
    left: 15px;
    right: 15px;
    z-index: 100;
}

.home-page-content {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 100px;
    position: absolute;
    top: 50px;
}